/* GLOBAL */

:root {
  --color: #0505a9; //Adjust it with the color you want
  --fs: 16px; //Adjust it to the size of your text
}

body,
html {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
  overflow: hidden;
}

/* SEA BUTTON */

.sea {
  background-color: var(--color);
  border-radius: 100%;
  position: absolute;
  top: 100%;
}

#container {
  height: 100vh;
  width: 100%;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sea-button {
  border-radius: 40px;
  background-color: white;
  width: 15em;
  height: 4em;
  border: 2px solid var(--color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sea-button p {
  color: var(--color);
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--fs);
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
}

#sea-button i {
  color: white;
  position: absolute;
  z-index: 2;
  transform: translate(-50%, -50%);
  left: 25%;
  opacity: 0;
  bottom: -100%;
  transition: bottom 0.4s ease;
}

#sea1 {
  width: 90px;
  height: 90px;
  left: -10%;
}

#sea2 {
  width: 90px;
  height: 90px;
  left: 15%;
}

#sea3 {
  width: 90px;
  height: 90px;
  left: 40%;
}

#sea4 {
  width: 90px;
  height: 90px;
  left: 65%;
}
